<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">

</head>

<body>

<div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backRight">
    </div>
    <div class="backLeft">
    </div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="left">
            <div class="content">
                <h2>Registrarse</h2>
                <form id="form-signup" method="post" onsubmit="return false;">
                    <div class="form-element form-stack">
                        <label for="email" class="form-label">Email</label>
                        <!--<input id="email" type="email" name="email" class="needs-validation">-->
                        <input id="email" type="email" name="email" required>
                    </div>
                    <div class="form-element form-stack">
                        <label for="fullname-signup" class="form-label">Nombre Completo</label>
                        <input id="fullname-signup" type="text" name="fullname" required>
                    </div>
                    <div class="form-element form-stack">
                        <label for="password-signup" class="form-label">Contraseña</label>
                        <input id="password-signup" type="password" name="password" required>
                    </div>
                    <div class="form-element form-stack">
                        <label for="confirm-password-signup" class="form-label">Confirme la contraseña</label>
                        <input id="confirm-password-signup" type="password" name="confirmpassword" required>
                    </div>
                    <!--<div class="form-element form-stack">-->
                        <!--<label for="address-signup" class="form-label">¿Donde vive?</label>-->
                        <!--<input id="address-signup" type="text" name="address">-->
                    <!--</div>-->
                    <div class="form-element form-stack">
                        <label for="birthdate-signup" class="form-label">Fecha de Nacimiento</label>
                        <input id="birthdate-signup" type="date" name="birthdate" required>
                    </div>

                    <div class="form-element form-checkbox">
                        <input type="radio" aria-label="Hombre" id="sex-male" name="sex">
                        <label for="sex-male" class="form-label">Hombre</label>
                        <input type="radio" aria-label="Mujer" id="sex-woman" name="sex">
                        <label for="sex-woman" class="form-label">Mujer</label>
                        <input type="radio" aria-label="NA" id="sex-na" name="sex">
                        <label for="sex-na" class="form-label">N/A</label>
                    </div>

                    <div class="form-element form-checkbox">
                        <input id="confirm-terms" type="checkbox" name="confirm" value="yes" class="checkbox">
                        <label for="confirm-terms">Acepto los <a href="#">Términos de Servicios</a> y <a href="#">Política de Privacidad</a></label>
                    </div>
                    <div class="form-element form-submit">
                        <button id="signUp" class="signup" type="submit" name="signup">Registrarse</button>
                        <button id="goLeft" class="signup off">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <h2>Iniciar Sesión</h2>
                <form id="form-login" method="post" onsubmit="return false;">
                    <div class="form-element form-stack">
                        <label for="email-login" class="form-label">Email</label>
                        <input id="email-login" type="email" name="email">
                    </div>
                    <div class="form-element form-stack">
                        <label for="password-login" class="form-label">Password</label>
                        <input id="password-login" type="password" name="password">
                    </div>
                    <div class="form-element form-submit">
                        <button id="logIn" class="login" type="submit" name="login">Iniciar Sesión</button>
                        <button id="goRight" class="login off" name="signup">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>

<script src="/js/paper-full.min.js"></script>

<script src="js/login.js"></script>
</body>
</html>